<div class="tb-position--relative main current" ngClass.xs="xs" ngClass.sm="sm" #animRefView>
    <div class="tb-container tb-position--relative container">
        <div fxLayout="column" fxLayoutAlign="start stretch">
            <div ngClass.gt-xs="tb-height--64" ngClass.xs="tb-height--20"></div>
            <div ngClass.gt-xs="tb-height--64" ngClass.xs="tb-height--24"></div>
            <app-my-apps></app-my-apps>
            <div ngClass.gt-xs="tb-height--64" ngClass.xs="tb-height--24"></div>
            <div ngClass.gt-xs="tb-height--36" ngClass.xs="tb-height--24"></div>
            <div [@transitionText]="{value:_mTriggerAnim, params:{animDelay:200}}" fxLayout="row"
                fxLayoutAlign="start end">
            </div>
        </div>
    </div>
</div>