<div ngClass.gt-xs="tb-height--48" ngClass.xs="tb-height--12"></div>

<app-home-top></app-home-top>

<div ngClass.gt-xs="tb-height--48" ngClass.xs="tb-height--12"></div>

<app-home-about></app-home-about>

<div ngClass.gt-xs="tb-height--48" ngClass.xs="tb-height--12"></div>

<app-home-showcases></app-home-showcases>

<div ngClass.gt-xs="tb-height--48" ngClass.xs="tb-height--12"></div>

<app-home-expertise></app-home-expertise>

<div ngClass.gt-xs="tb-height--48" ngClass.xs="tb-height--12"></div>

<app-home-contact></app-home-contact>

<div ngClass.gt-xs="tb-height--48" ngClass.xs="tb-height--12"></div>

<app-footer></app-footer>