<div class="tb-position--relative main current" ngClass.xs="xs" ngClass.sm="sm" #animRefView>

    <div class="tb-container tb-position--relative container">
        <div fxLayout="column" fxLayoutAlign="start stretch">
            <div ngClass.gt-xs="tb-height--36" ngClass.xs="tb-height--20"></div>

            <p [@transitionText]="{value:_mTriggerAnim,  params: {animDelay: 500}}"
                class="connect-detail tb-color--black-38" ngClass.gt-sm="current-typo--body1"
                ngClass.sm="current-typo--body1" ngClass.xs="current-typo--body1">
                Feel free to reach out if you have a question or just want to connect.</p>
            <div ngClass.gt-xs="tb-height--24" ngClass.xs="tb-height--16"></div>
            <div  [@transitionText]="{value:_mTriggerAnim,  params: {animDelay: 600}}" class="underline"><a class="tb-color--black" ngClass.gt-xs="current-typo--h4 " ngClass.xs="current-typo--h5"
                    href="mailto:enilsonneto8@gmail.com">enilsonneto8@gmail.com</a></div>
        </div>
    </div>
</div>