<div class="tb-position--relative main" ngClass.xs="xs" ngClass.sm="sm" #animRefView>
    <div class="tb-container tb-position--relative container">
        <div fxLayout="column" fxLayoutAlign="start stretch">
            <div [@transitionText]="{value:_mTriggerAnim, params:{animDelay:100}}" fxLayout="row"
                fxLayoutAlign="start end">
                <h4 class="title current-typo--h4 tb-flex--shrink-0" id="about-me">About Me.</h4>
                <div class="tb-width--12"></div>
                <div fxFlex="60" class="line tb-color-bg--black"></div>
                <div fxFlex class=""></div>
            </div>
            <div ngClass.gt-xs="tb-height--20" ngClass.xs="tb-height--12"></div>
            <div fxLayout="row" fxLayout.xs="column">
                <div [fxFlexOrder]='1' [fxFlexOrder.xs]="2" fxFlex fxFlex.xs="none" fxFlex.sm="70" fxLayout="column">
                    <div ngClass.gt-xs="tb-height--64" ngClass.xs="tb-height--20"></div>
                    <p [@transitionText]="{value:_mTriggerAnim, params:{animDelay:200}}"
                        class="current-typo--body1-medium tb-color--black-54">In 2022, I became interested in making
                        Participate in Think A.M's Dev 360 mentorship program, where I was selected for Level 360 and
                        started working at the company. I'm also a student of Rocketseat's Discover training, where I'm
                        learning in practice what's most modern in technology for web and mobile development.
                        I also graduated in Systems Programming at Senac-PE.
                    </p>
                    <div ngClass.gt-sm="tb-height--12" ngClass.sm="tb-height--8" ngClass.xs="tb-height--6"></div>

                    <span [@transitionText]="{value:_mTriggerAnim, params:{animDelay:200}}"
                        class="current-typo--body1-medium tb-color--black-54">My objective is to make development as
                        easy as possible with simple and beautiful designs and organised code
                        patterns.</span>
                    <div ngClass.gt-sm="tb-height--56" ngClass.sm="tb-height--46" ngClass.xs="tb-height--32"></div>

                    <div [@transitionText]="{value:_mTriggerAnim, params:{animDelay:300}}" fxLayout="row">
                        <div fxFlex fxLayout="column" fxLayoutGap="12" fxLayoutAlign="start start">
                            <h2 class="title current-typo--h3-light">+1</h2>
                            <h4 class="title current-typo--h6">Year of Experience</h4>
                        </div>
                        <div fxFlex fxLayout="column" fxLayoutGap="12" fxLayoutAlign="start start">
                            <h2 class="title current-typo--h3-light">17+</h2>
                            <h4 class="title current-typo--h6">Projects Completed</h4>
                        </div>
                    </div>
                    <div ngClass.gt-sm="tb-height--56" ngClass.sm="tb-height--46" ngClass.xs="tb-height--32"></div>
                    <div class="tb-height--8"></div>
                    <div [@transitionText]="{value:_mTriggerAnim, params:{animDelay:500}}" fxLayout="row wrap"
                        fxLayoutGap="6">
                        <div class="skill tb-color-bg--black-6">
                            <h5 class="current-typo--h5">Development</h5>
                        </div>

                        <div class="skill" style="background-color: #F44040;">
                            <h5 class="current-typo--h5 tb-color--white">Angular</h5>
                        </div>

                        <div class="skill" style="background-color: #68F17E;">
                            <h5 class="current-typo--h5 tb-color--black">C#</h5>
                        </div>

                        <div class="skill" style="background-color: #027DFD;">
                            <h5 class="current-typo--h5 tb-color--white">.NET</h5>
                        </div>
                    </div>
                    <div ngClass.gt-sm="tb-height--56" ngClass.sm="tb-height--46" ngClass.xs="tb-height--32"></div>
                    <div [@transitionText]="{value:_mTriggerAnim, params:{animDelay:600}}" fxLayout="row"
                        fxLayoutAlign="start center" fxLayoutGap="32">
                        <a class="btn-area-cv"
                            href="https://drive.google.com/file/d/1hIhtGKVgUGKoKqumOD91D41Me1nnI32y/view?usp=sharing"
                            target="_blank">
                            <button mat-raised-button color="primary"><span class="current-typo--button-medium">Download
                                    CV.</span></button>
                        </a>
                    </div>
                </div>
                <div fxFlex.xs="none" fxFlex [fxFlexOrder.xs]="1" [fxFlexOrder]=' 2' class="image-container"
                    fxLayout="column" fxLayoutAlign="center stretch">
                    <div [@transitionImageScale]="{value:_mTriggerAnim, params: {animDelay: 800}}"
                        class="tb-text--align-center image-area" #imageAreaView>
                        <img class="image tb-position--relative" src="assets/img/avatar/Enilson.png" />
                    </div>

                </div>

            </div>



        </div>
    </div>
</div>