<div class="tb-position--relative main imageBack" ngClass.xs="xs" ngClass.sm="sm">
    <div class="tb-container tb-position--relative container">
        <div class="content-container" fxLayout="column">
            <div ngClass.gt-sm="tb-height--126" ngClass.sm="tb-height--72" ngClass.xs="tb-height--72"></div>
            <h4 [@transitionTextEnter]="{value:'in', params: {animDelay: 200}}" ngClass.gt-sm="current-typo--h4"
                ngClass.sm="current-typo--h5" ngClass.xs="current-typo--h5">Hi, My name is EnilsonNeto</h4>
            <div ngClass.gt-sm="tb-height--24" ngClass.sm="tb-height--12" ngClass.xs="tb-height--12"></div>
            <h2 [@transitionTextEnter]="{value:'in', params: {animDelay: 300}}" ngClass.gt-sm="current-typo--h1-light"
                ngClass.sm="current-typo--h2-light" ngClass.xs="current-typo--h3">I'm a</h2>
            <h2 [@transitionTextEnter]="{value:'in', params: {animDelay: 400}}" ngClass.gt-sm="current-typo--h1-light"
                ngClass.sm="current-typo--h2-light" ngClass.xs="current-typo--h3">Full Stack</h2>
            <h2 [@transitionTextEnter]="{value:'in', params: {animDelay: 500}}" ngClass.gt-sm="current-typo--h1-light"
                ngClass.sm="current-typo--h2-light" ngClass.xs="current-typo--h3">developer</h2>
            <div ngClass.gt-sm="tb-height--24" ngClass.sm="tb-height--16" ngClass.xs="tb-height--8"></div>
            <p [@transitionTextEnter]="{value:'in', params: {animDelay: 700}}"
                (@transitionTextEnter.done)='_onTextAnimationEnd($event)' class="detail tb-color--black-54"
                ngClass.gt-sm="current-typo--body1" ngClass.sm="current-typo--body1" ngClass.xs="current-typo--body1">
                I'm a Full Stack developer passionate about the best development technologies. I'm always looking to improve my skills and learn new technologies. Currently, I'm focused and accompanied in web development with Angular and TypeScript, recently, I started studying .NET and C# to further expand my technical skills, which I already worked on a real project at Think A.M.</p>
        </div>
    </div>
</div>