<div [@transitionReveal]="{value:_mTriggerAnim, params: {animDelay: 500}}" class="main tb-position--relative tb-overflow--hidden" ngClass.xs="xs" ngClass.sm="sm"  #animRefView>
    <div class="tb-container--stretched">
    </div>
  
    <div class="footer tb-container tb-position--relative" fxLayout="column">
      <div class="tb-height--56"> </div>
  
      <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center">
        <div class="social-area" fxLayoutGap="40px" fxLayout="row" fxLayoutAlign="center center">
           <div class="social" fxLayoutGap="40px" fxLayout="row" fxLayoutAlign="center center"
            fxLayoutAlign.lt-sm="end end" id="contacts">
           
            <a class="" href="https://github.com/EnilsonNeto" target="_blank" matTooltip="github">
              <button mat-icon-button>
                <mat-icon svgIcon="github" class="tb-icon--16 tb-color--grey-500"></mat-icon>
              </button>
            </a>
           
            <a class="" href="https://www.linkedin.com/in/enilson-neto/" target="_blank" matTooltip="linkedin">
              <button mat-icon-button>
                <mat-icon svgIcon="linkedin" class="tb-icon--16 tb-color--grey-500"></mat-icon>
              </button>
            </a>
            <a class="" href="https://www.instagram.com/enilson_neto_/" target="_blank" matTooltip="instagram">
  
              <button mat-icon-button>
                <mat-icon svgIcon="instagram" class="tb-icon--16 tb-color--grey-500"></mat-icon>
              </button>
            </a>
          </div>
        </div>
  
  
      </div>
  
  
      <div class="tb-height--20"> </div>
  
  
  
    </div>
  </div>